html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* เต็มหน้าจอ */
}

main {
  flex: 1 0 auto; /* ยืดตัว main ให้ดัน footer ลงล่าง */
}

footer {
  flex-shrink: 0; /* ไม่ให้ footer หดตัว */
}
